<?php
class DATABASE_CONFIG {
    public $default = array(
        'datasource' => 'Database/Mysql',
        'persistent' => false,
        'host' => 'localhost',
        'login' => 'misp',
        'port' => 3306,
        'password' => 'MispPass123!',
        'database' => 'misp',
        'prefix' => '',
        'encoding' => 'utf8mb4',
    );
}
?>
