[Unit]
Description=Snort 3 Network IDS
After=network.target

[Service]
Type=simple
User=snort
Group=snort
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_NICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_NICE
NoNewPrivileges=true
ExecStart={{ snort_install_dir }}/bin/snort --daq-dir {{ daq_install_dir }}/lib/daq -c {{ snort_install_dir }}/etc/snort.lua  -l /usr/local/snort3/logs -i ens5 -A fast
Restart=always

[Install]
WantedBy=multi-user.target