[Unit]
Description=Snort 3 Network IDS
After=network.target

[Service]
Type=simple
User=snort
Group=snort
ExecStart={{ snort_install_dir }}/bin/snort -c {{ snort_install_dir }}/etc/snort.lua --daq-dir {{ daq_install_dir }}/lib/daq -i ens5 -A fast
Restart=always

[Install]
WantedBy=multi-user.target