cluster.name: "soar-cluster"
network.host: 0.0.0.0
transport.host: 0.0.0.0
http.port: {{ elastic_port }}
discovery.type: single-node
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: false
xpack.security.http.ssl.enabled: false
xpack.security.enrollment.enabled: true
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
