<ossec_config>
  <global>
    <email_notification>no</email_notification>
  </global>

  <remote>
    <connection>secure</connection>
    <port>{{ wazuh_port }}</port>
  </remote>
</ossec_config>
zddd